<header class="p-3 bg-black text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <img
          style="height: 50px"
          src="https://dcassetcdn.com/design_img/44755/25810/25810_803711_44755_image.jpg"
        />
        <li><a routerLink="home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Reviews</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <button
          *ngIf="auth.isShowLoggedIn"
          type="button"
          class="btn btn-outline-light me-2"
          (click)="goToLogin()"
        >
          Login
        </button>

        <div *ngIf="auth.isUserLoggedIn">
          <img
            *ngIf="auth.isUserLoggedIn"
            style="margin-right: 10px"
            src="https://th.bing.com/th/id/OIP._BXCcqxwmsduYNCJj2XDtgHaHa?pid=ImgDet&rs=1"
            class="rounded-circle"
            height="25"
            loading="lazy"
          />
          <strong
            *ngIf="auth.isUserLoggedIn"
            style="margin-right: 10px"
            >{{ auth.customer.firstName }}</strong
          >
          <span style="margin-right: 10px" class="badge badge-pill bg-danger">{{auth.customer.inCartNo}}</span>
          <button routerLink="cart" style="margin-right: 10px">
            <span  ><i class="fas fa-shopping-cart"></i></span>
          </button>
          <button
            *ngIf="auth.isUserLoggedIn"
            type="button"
            class="btn btn-white"
            (click)="logout()"
          >
            Log-Out
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
