<div>
  <div style="padding-top: 2.1rem;" class="one">
    <h1>{{companyNamee}} Watch </h1>
  </div>
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div style="padding: 1.2rem;" class="col-md-12 col-lg-4 mb-4 mb-lg-0"  *ngFor="let cp of companyProducts">
              <div class="product">
                <span class="product__price">{{cp.productPrice | currency :'INR'}}</span>
                <img class="product__image" src={{cp.productImage}}>
                <h1 class="product__title">{{cp.productName}}</h1>
                <hr />
                <p>{{cp.productDescription}}</p>
                <a (click)="productDetails(cp.id)" class="product__btn btn">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>